* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
/* header {
    width: 100%;
    height: 50px;
    margin: auto;
    border-bottom: 1px solid #EEE;

} */
/* #brand {
    float: left;
    text-align: center;
    line-height: 50px;
    color: #6985EF;
    font-size: 25px;
    font-weight: bolder;
} */
nav {
    width: 100%;
    text-align: center;
}
nav a {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}
nav a:hover {
    background: #000000;
    color: #FFF;
}
nav li:last-child a {
    border-bottom: none;
  }


        .menu {
            width: 240px;
            height: 100%;
            position: absolute;
            background-color: #6985EF;
            left: -240px;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
        }

        .menu-icon {
            padding: 10px 20px;
            background-color: #6985EF;
            color: #FFFFFF;
            cursor: pointer;
            float: right;
            margin-top: 4px;
            border-radius: 5px;
        }

        #menuToggle {
            display: none;
        }

        #menuToggle:checked ~ .menu {
            position: absolute;
            left: 0;
        }

        #menuToggle:checked ~ .mainarea {
            position: absolute;
            left: 240px;
        }